*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;

    /* Font fame to code */
    font-family: monospace;
}
.mypic{
    font-size: 7px; 
    line-height: 50%;
    color: gray;
}

.terminal_container{
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 10px;
    padding-top: 20px ;
    /* margin-bottom: 20px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto; */
    border: 1px solid #1a1a1a;  
    box-shadow: 0 0 10px #1a1a1a;
    height: 500px;
    overflow: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: #1a1a1a #1a1a1a;
    width: 80%;

}

#terminal{
    background-color: #1a1a1a;
    /* padding: 20px; */
    /* white-space: pre; */
    font-size: 16px;
    line-height: 1.4;
    cursor: text;
    user-select: text;
    border: 1px solid #1a1a1a;  
}

#terminal .terminal_output{
    color: #9a9a9a;
    font-size: x-small;
    font-family: monospace;
    margin: 10px 0px;
    white-space: code;
}

#terminal .text{
    color: #9a9a9a;
    font-size: x-small;
    font-family: monospace;
    margin: 10px 0px;
    white-space: code;
}

#typed{
    color: #9a9a9a;
    font-size: x-small;
    font-family: monospace;
    margin: 10px 0px;
    white-space: code;
}

#terminal .terminal_input{
    color: #9a9a9a;
    font-size: x-small;
    font-family: monospace;
    /* margin: 10px 0px; */
    height: auto;
}


#terminal .terminal_input input{
    background-color: transparent;
    border: none;
    outline: none;
    color: #9a9a9a;
    font-size: x-small;
    font-family: monospace;
    /* margin: 10px 0px; */
    max-width: 70%;
    caret-shape: block;
}


/* Create nice scrollbal */
#terminal_container::-webkit-scrollbar {
    width: 10px;
}

.side_bar{
    background-color: white;
    position: fixed;
    top: 0;
    right: -20%;
    height: 80%;
    width: 20%;
    z-index: 0;
    transition: 0.5s ease all;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.width_80_percent{
    width: 80%;
}
.width_20_percent{
    width: 20%;
}

/* Small circle with smooth double gray colors */
.small_circle{
    position: absolute;
    top: 10px;
    left: -50px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    border: 5px solid #1a1a1a;
    z-index: 1;
    cursor: pointer;
}


#side_bar_close_button{
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: none;
    /* border: 5px solid #1a1a1a; */
    z-index: 1;
    cursor: pointer;
}

#side_bar_close_button::before, #side_bar_close_button::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 2px;
    background-color: #1a1a1a;
}

#side_bar_close_button::before{
    transform: translate(-50%, -50%) rotate(45deg);
}

#side_bar_close_button::after{
    transform: translate(-50%, -50%) rotate(-45deg);
}

.side_button{
    border: 2px solid #1a1a1a;
    padding: 1%;
    transition: 0.3s all;
    margin-bottom: 10px;
}

.side_button:hover{
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
}

.active_button{
    background-color: #1a1a1a;
    color: white;
    cursor: pointer;
}